<!DOCTYPE html>
<html lang="en">
<body>
<form action="" data-th-action="@{/company/}"  data-th-object="${filter}" method="get">
    <p>Filters</p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="filterName">Name:</label>
            <input type="text" class="form-control" data-th-field="*{name}" id="filterName" placeholder="Search keywords"/>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <button type="submit">
                <i class="nc-icon nc-zoom-split"></i> Filter
            </button>
        </div>
    </div>
</form>
</body>
</html>