<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="" data-th-action="@{/admin/product/}"  data-th-object="${filter}" method="get">
        <p>Filters</p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="filterName">Name:</label>
                <input type="text" class="form-control" data-th-field="*{name}" id="filterName" placeholder="Search keywords"/>
            </div>
            <div class="form-group col-md-6">
                <label for="filterCompany">Company</label>
                <input type="text" class="form-control" data-th-field="*{company}" id="filterCompany" placeholder="Search keywords"/>
            </div>
            <div class="col-md-12">
                <button type="submit">
                    <i class="nc-icon nc-zoom-split"></i> Search
                </button>
            </div>
        </div>
    </form>
</body>
</html>